---
import Header from "../../components/Header.astro";
import Contact from "../../layouts/Contact.astro";
import Footer from "../../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
        <title>Andrew DaCosta For Sydenham</title>
        <link rel="icon" type="image/jpeg" href="/favicon.jpg" />
    </head>

    <body class="bg-almond flex-1">
        <Header />
        <Contact />
        <Footer />
    </body>
</html>
