---
import "../styles/global.css";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<details
    class="w-full rounded-lg border border-slate-700 bg-dropdown font-mono
           [&[open]>summary>svg]:rotate-180"
>
    <summary
        class="flex cursor-pointer list-none select-none items-center
               justify-between px-6 py-4 text-2xl font-semibold
               text-white md:text-3xl"
    >
        {title}

        <svg
            class="h-5 w-5 shrink-0 transition-transform duration-300"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg>
    </summary>

    <div class="border-t border-slate-700 px-6 py-4 text-white">
        <slot />
    </div>
</details>
