---
import "../styles/global.css";
import Bold from "../components/Bold.astro";
---

<div class="space-y-4">
    <p>
        First, let’s not beat around the bush. Kingston finds itself in a <Bold>
            housing crisis.
        </Bold>
    </p>

    <p>
        We have <Bold>some of the highest rent prices in Ontario</Bold> outside of
        the Greater Toronto Area, with a continually growing homeless population.
        As a student renter myself, I see the <Bold>firsthand impacts</Bold> of unaffordable
        housing in our city.
    </p>

    <p>
        Without <Bold>active work</Bold> on this issue, things will continue in the
        same direction they have been, and the crisis will not improve.
    </p>

    <p>
        In the Sydenham district, much of the stress on the housing market comes
        from inadequate levels of <Bold>student housing</Bold>. This issue
        affects not only students, but spills out into higher prices for all
        renters across the city.
    </p>

    <p>
        The City’s population forecast projections estimate that full-time
        post-secondary student enrolment will increase from <Bold>34,000</Bold> (2021
        levels) to <Bold>48,300</Bold> by 2051. It is anticipated that there will
        be a need for an<Bold> additional 2,300 housing units </Bold>for the <Bold
        >
            additional 4,600 students
        </Bold> expected to live off-campus (i.e., not in a post-secondary-owned residence
        building).
    </p>

    <p>
        The City has already acknowledged, in the draft of the <Bold
            >Official Plan</Bold
        > to be presented to Council in mid-2027, that student housing requirements
        are anticipated to be accommodated <Bold
            >within the City’s existing built-up area</Bold
        > and the current urban boundary, and I commend the City for ensuring that
        the housing needs of the student population are being recognized.
    </p>

    <p>
        Intensification <Bold>within the current area</Bold> of the city is something
        I<Bold> wholeheartedly support</Bold>. Increasing density is the most
        effective way to house people, especially students. It keeps residents
        close to where they need to be, and does not create more urban sprawl
        into the natural habitat around our city.
    </p>

    <p>
        But with that comes direct implications for Sydenham District residents
        and property owners about where intensification and infilling will
        occur, especially to accommodate student growth.
    </p>

    <p>
        The implications for the historic Sydenham District will be <Bold>
            significant
        </Bold> if not properly planned.
    </p>

    <p>Here’s what needs to happen:</p>

    <p>
        <Bold>Queen’s University Housing Strategy:</Bold> Ensure post-secondary institutions,
        especially Queen’s, are developing their own Housing Strategy, that it is
        connected to the City’s Student Housing Strategy, and that it involves community
        members of Sydenham District. I will support Queen’s in any efforts at Queen’s
        West Campus to add additional campus residence buildings to accommodate student
        growth.
    </p>

    <p>
        <Bold>Student Housing Strategy:</Bold> Accelerate the substantial completion
        of the Student Housing Strategy (which is already underway) prior to the adoption
        of the City’s Official Plan in June 2027, so the strategy can inform the City’s
        Official Plan. The original timing of the Student Housing Strategy was scheduled
        to occur after the adoption of the Official Plan. The recent delay of the
        Official Plan to mid-2027 provides an opportunity for the Student Housing
        Strategy to be completed and become an input for the Official Plan.
    </p>

    <p>
        <Bold>Heritage Management Plan:</Bold> Complete the Heritage Management Plan
        (already underway) prior to the adoption of the City’s Official Plan in June
        2027. This work must be completed and reflected in the Official Plan before
        I will support its adoption. I am supportive of expanding the Heritage Conservation
        District to additional portions of Sydenham District, particularly portions
        of the waterfront area on King St. already recognized as a Heritage Character
        Area.
    </p>

    <p>
        <Bold>Strategic Growth Area Clarity:</Bold> Ensure a clear definition of the
        housing density and types identified for the Strategic Growth Area (Johnson
        St. corridor and Earl St. area) in the City’s draft Official Plan to ensure
        the proposed development is complementary to Sydenham District. I won’t vote
        for the Official Plan until it is understood how many people and what type
        of housing is possible for this area.
    </p>

    <p>
        <Bold>Heritage Properties Committee:</Bold> It is imperative that the Councillor
        for Sydenham District, featuring many of our city’s historic buildings, sit
        on the Heritage Properties Committee. I will seek out the nomination as one
        of the Council representatives on this committee.
    </p>

    <p>
        <Bold>You should vote for me if:</Bold>
    </p>

    <p>
        You agree that Queen’s needs to have its own Housing Strategy and that
        Queen’s needs to consider additional residence buildings to support
        student growth.
    </p>

    <p>
        You agree that the Heritage Management Plan must be completed prior to
        the adoption of the Official Plan, and you are interested in an
        expansion of the Heritage Conservation District for portions of Sydenham
        District.
    </p>

    <p>
        You agree that it’s important to move the Student Housing Strategy to
        substantial completion before the Official Plan is adopted by the City
        so that areas of residential intensification and potential land use
        changes are reflected in the Official Plan.
    </p>

    <p>
        You want your District Councillor to be a member of the Heritage
        Properties Committee.
    </p>

    <p>
        <Bold>
            If you’re not sure if you should vote for me, here is what you
            should ask the other candidates:
        </Bold>
    </p>

    <p>
        Do you feel that Queen’s should have a role in developing more student
        housing?
    </p>

    <p>
        Will you support the Official Plan prior to the adoption of the Heritage
        Management Plan?
    </p>

    <p>Do you support expanding the Heritage Conservation District?</p>

    <p>
        In what ways should the City support post-secondary institutions
        financially?
    </p>

    <p>
        How do you intend to maintain regular communication with post-secondary
        institutions, especially Queen’s University, since it is at the heart of
        Sydenham District?
    </p>

    <p>
        Will you commit to being a member of the City’s Heritage Properties
        Committee and upholding its mandate of championing all aspects of
        Kingston's cultural heritage resources—tangible, intangible, and
        natural?
    </p>
</div>
