---
import "../styles/global.css";
import Bold from "../components/Bold.astro";
---

<div class="space-y-4">
    <p>
        First, let’s not beat around the bush. Kingston finds itself in a <Bold
            >housing crisis</Bold
        >.
    </p>

    <p>
        We have <Bold>some of the highest rent prices in Ontario</Bold> outside of
        the Greater Toronto Area, with a continually growing homeless population.
        As a student renter myself, I see the <Bold>firsthand impacts</Bold> of unaffordable
        housing in our city.
    </p>

    <p>
        Without <Bold>active work</Bold> on this issue, things will continue in the
        same direction they have been, and the crisis will not improve.
    </p>

    <p>
        In the Sydenham district, much of the stress on the housing market comes
        from inadequate levels of <Bold>student housing</Bold>. This issue
        affects not only students, but spills out into higher prices for all
        renters across the city.
    </p>

    <p>
        The City’s population forecast projections estimate that full-time
        post-secondary student enrolment will increase from <Bold>34,000</Bold> (2021
        levels) to <Bold>48,300</Bold> by 2051. It is anticipated that there will
        be a need for an <Bold>additional 2,300 housing units</Bold> for the <Bold
            >additional 4,600 students</Bold
        > expected to live off-campus (i.e., not in a post-secondary-owned residence
        building).
    </p>

    <p>
        The City has already acknowledged, in the draft of the <Bold
            >Official Plan</Bold
        > to be presented to Council in mid-2027, that student housing requirements
        are anticipated to be accommodated <Bold
            >within the City’s existing built-up area</Bold
        > and the current urban boundary, and I commend the City for ensuring that
        the housing needs of the student population are being recognized.
    </p>

    <p>
        Intensification <Bold>within the current area</Bold> of the city is something
        I <Bold>wholeheartedly support</Bold>. Increasing density is the most
        effective way to house people, especially students. It keeps residents
        close to where they need to be, and does not create more urban sprawl
        into the natural habitat around our city.
    </p>

    <p>
        But with that comes direct implications for Sydenham District residents
        and property owners about where intensification and infilling will
        occur, especially to accommodate student growth.
    </p>

    <p>
        The implications for the historic Sydenham District will be <Bold
            >significant</Bold
        > if not properly planned.
    </p>

    <p>Here’s what needs to happen:</p>

    <ul>
        <li>
            <Bold>Queen’s University Housing Strategy:</Bold> Ensure post-secondary
            institutions, especially Queen’s, are developing <Bold
                >their own Housing Strategy</Bold
            >, that it is connected to the City’s <Bold
                >Student Housing Strategy</Bold
            >, and that it involves <Bold>community members</Bold> of Sydenham District.
            I will support Queen’s in any efforts at Queen’s West Campus to add <Bold
                >additional campus residence buildings</Bold
            > to accommodate student growth.
        </li>

        <li>
            <Bold>Student Housing Strategy:</Bold>
            <Bold> Accelerate</Bold> the substantial completion of the Student Housing
            Strategy (which is already underway) <Bold>prior</Bold> to the adoption
            of the City’s Official Plan in June 2027, so the strategy can inform the
            City’s Official Plan. The <Bold>original timing</Bold> of the Student
            Housing Strategy was scheduled to occur <Bold
                >after the adoption of the Official Plan</Bold
            >. The recent delay of the Official Plan to mid-2027 provides an
            opportunity for the Student Housing Strategy to <Bold
                >be completed and become an input</Bold
            > for the Official Plan.
        </li>

        <li>
            <Bold>Heritage Management Plan:</Bold> Complete the Heritage Management
            Plan (already underway) prior to the adoption of the City’s Official Plan
            in June 2027. This work must be <Bold>completed</Bold> and <Bold
                >reflected in the Official Plan</Bold
            > before I will support its adoption. I am supportive of <Bold
                >expanding the Heritage Conservation District</Bold
            > to additional portions of Sydenham District, particularly portions of
            the waterfront area on King St. already recognized as a Heritage Character
            Area.
        </li>

        <li>
            <Bold>Strategic Growth Area Clarity:</Bold> Ensure a <Bold
                >clear definition</Bold
            > of the <Bold>housing density and types</Bold> identified for the Strategic
            Growth Area (Johnson St. corridor and Earl St. area) in the City’s draft
            Official Plan to <Bold
                >ensure the proposed development is complementary to Sydenham
                District</Bold
            >. I won’t vote for the Official Plan until it is understood <Bold
                >how many people</Bold
            > and <Bold>what type of housing</Bold> is possible for this area.
        </li>

        <li>
            <Bold>Heritage Properties Committee:</Bold> It is imperative that the
            Councillor for Sydenham District, featuring many of our city’s historic
            buildings, sit on the <Bold>Heritage Properties Committee</Bold>. I
            will seek out the nomination as one of the Council representatives
            on this committee.
        </li>
    </ul>

    <p><u><Bold>You should vote for me if:</Bold></u></p>

    <ul>
        <li>
            You agree that Queen’s needs to have <Bold
                >its own Housing Strategy</Bold
            > and that Queen’s needs to consider <Bold
                >additional residence buildings</Bold
            > to support student growth.
        </li>

        <li>
            You agree that the Heritage Management Plan <Bold
                >must be completed</Bold
            > prior to the adoption of the Official Plan, and you are interested in
            an <Bold>expansion of the Heritage Conservation District</Bold> for portions
            of Sydenham District.
        </li>

        <li>
            You agree that it’s important to move the Student Housing Strategy
            to <Bold
                >substantial completion before the Official Plan is adopted</Bold
            > by the City so that areas of residential intensification and potential
            land use changes are reflected in the Official Plan.
        </li>

        <li>
            You want your District Councillor to be a member of the <Bold
                >Heritage Properties Committee</Bold
            >.
        </li>
    </ul>

    <p>
        <u
            ><Bold
                >If you’re not sure if you should vote for me, here is what you
                should ask the other candidates:</Bold
            ></u
        >
    </p>

    <ul>
        <li>
            Do you feel that <Bold>Queen’s</Bold> should have a role in developing
            <Bold> more student housing</Bold>?
        </li>

        <li>
            Will you support the Official Plan <Bold>prior to the adoption</Bold
            > of the Heritage Management Plan? Do you support <Bold
                >expanding</Bold
            > the Heritage Conservation District?
        </li>

        <li>
            In what ways should the City <Bold>support</Bold> post-secondary institutions
            <Bold> financially</Bold>?
        </li>

        <li>
            How do you intend to maintain <Bold>regular communication</Bold> with
            post-secondary institutions, especially Queen’s University, since it is
            at the heart of Sydenham District?
        </li>

        <li>
            Will you commit to being a member of the City’s <Bold
                >Heritage Properties Committee</Bold
            > and upholding its mandate of championing all aspects of Kingston's cultural
            heritage resources—tangible, intangible, and natural?
        </li>
    </ul>
</div>
