---
import "../styles/global.css";
import Bold from "../components/Bold.astro";
---

<div class="space-y-4">
    <p>I believe that <Bold>what gets measured gets done</Bold>.</p>

    <p>
        If elected, I will create a <Bold>report card</Bold> that lays out the initiatives
        I am working on and the <Bold>progress</Bold> I am making. You will be able
        to track my progress in getting you results and hold me accountable.
    </p>

    <p><Bold>You should vote for me if:</Bold></p>

    <ul>
        <li>
            You want a <Bold>clear</Bold>, <Bold>transparent</Bold> way to track the
            progress I am making on your behalf.
        </li>

        <li>
            You believe that getting results happens when you <Bold
                >set a goal and commit to it</Bold
            >.
        </li>
    </ul>

    <p>
        <Bold
            >If you’re not sure if you should vote for me, here is what you
            should ask the other candidates:</Bold
        >
    </p>

    <ul>
        <li>
            How will I know if you are <Bold>making progress</Bold> on the <Bold
                >priorities</Bold
            > for our District and our City?
        </li>

        <li>
            When it’s time to vote again four years from now, how will I know
            what you have <Bold>accomplished</Bold>?
        </li>
    </ul>
</div>
