---
import "../styles/global.css";
import Bold from "../components/Bold.astro";
---

<div class="space-y-4">
    <p>
        You’re busy. You don’t have time to follow everything that is happening
        at City Hall. I get it. You’re definitely <Bold>not alone</Bold>.
    </p>

    <p>
        Major decisions at City Council sometimes feel like they arrive out of
        nowhere, and the first you hear about them is in a media headline. This
        leaves you feeling <Bold>blindsided</Bold> and completely left out of the
        conversation. Maybe you’ve had that feeling on a couple of issues recently
        in our District that felt like they came out of the blue? Surprise!
    </p>

    <p>Here’s how I’d like to help with that:</p>

    <ul>
        <li>
            <Bold>Direct Democracy:</Bold> I will allocate a <Bold
                >portion of my Council salary</Bold
            > to introduce an opt-in text (or email) polling software to keep you
            <Bold>directly connected</Bold> to things that impact you at City Hall.
            You will receive a quick summary of an issue directly from me by text.
            You will have the chance to “cast your vote” so I can gauge our District’s
            feedback on the issue. It’s not intended to be scientific, but it is intended
            to keep you <Bold>informed</Bold> and <Bold>engaged</Bold> by getting
            your quick opinion with the click of a button. Don’t worry, this isn’t
            a substitute for traditional contact methods; you’ll also be able to call
            or email me <a href="/contact">Contact page</a> if you want to connect
            about an issue.
        </li>

        <li>
            <Bold>Community Connections:</Bold> At least <Bold
                >once per year</Bold
            > (and more often for some), I will make myself available to meet with
            <Bold>community leaders</Bold>. As soon as my campaign launched I
            sent invitations to meet with a long list of <Bold
                >key stakeholders</Bold
            > in Sydenham District to introduce myself and hear their thoughts on
            what they need over the next four years from City Hall.
        </li>
    </ul>

    <p>If you want to see who I’ve already reached out to,</p>

    <p>
        <a href="#">click here</a> to a list of community roles, e.g., neighbourhood
        association chairs, student leaders, local business owners.
    </p>

    <p>
        If you want to be added to this list, email me <a href="/contact"
            >here</a
        > and we’ll find a time to chat.
    </p>

    <ul start="3">
        <li>
            <Bold>Committees:</Bold> Important policies and major projects need to
            be thoroughly <Bold>vetted</Bold>, <Bold>debated</Bold>, and <Bold
                >refined</Bold
            > at the committee level before they ever reach a final vote at City Council.
            City Council already has several committees and working groups established.
            I intend to push to have <Bold
                >major issues always go through the committee level first</Bold
            > to give residents and other stakeholders an opportunity to get into
            the <Bold>details</Bold>, share their <Bold>concerns</Bold>, and <Bold
                >identify issues</Bold
            > early in the process. The committees should do more work so that by
            the time an issue gets to Council for a decision, it has had plenty of
            opportunity for community feedback.
        </li>

        <li>
            <Bold>Finance and Audit Committee:</Bold> The City doesn’t currently have
            a <Bold>Finance and Audit Committee</Bold>. I see this as a <Bold
                >gap</Bold
            > in the current Council structure. I will be advocating to create this
            committee to undertake more <Bold>detailed reviews of budgets</Bold> and
            to discuss financial strategy.
        </li>
    </ul>

    <p><Bold>You should vote for me if:</Bold></p>

    <ul>
        <li>
            You want an <Bold>easy</Bold>, <Bold>low-time-commitment</Bold> method
            to stay <Bold>informed</Bold> about the issues that will affect you.
        </li>

        <li>
            You agree that the best work happens when people have a chance to
            work <Bold>together</Bold> in forums like committees.
        </li>

        <li>
            You agree that the City would benefit from the establishment of a <Bold
                >Finance and Audit Committee</Bold
            >.
        </li>
    </ul>

    <p>
        <Bold
            >If you’re not sure if you should vote for me, here is what you
            should ask the other candidates:</Bold
        >
    </p>

    <ul>
        <li>
            How will you <Bold>keep in touch</Bold> with me about <Bold
                >important issues</Bold
            > happening at City Hall?
        </li>

        <li>
            How will you make sure I have an opportunity to provide <Bold
                >input</Bold
            > on important issues before decisions are made?
        </li>

        <li>
            Do you support more <Bold>transparency</Bold> around the City’s financial
            position by establishing a <Bold>Finance and Audit Committee</Bold>?
        </li>
    </ul>
</div>
