---
import "../styles/global.css";
import Bold from "../components/Bold.astro";
---

<div class="space-y-4">
    <p>
        You’re busy. You don’t have time to follow everything that is happening
        at City Hall. I get it. You’re definitely <Bold>not alone</Bold>.
    </p>

    <p>
        Major decisions at City Council sometimes feel like they arrive out of
        nowhere, and the first you hear about them is in a media headline. This
        leaves you feeling <Bold>blindsided</Bold> and completely left out of the
        conversation. Maybe you’ve had that feeling on a couple of issues recently
        in our District that felt like they came out of the blue? Surprise!
    </p>

    <p>Here’s how I’d like to help with that:</p>

    <ol class="list-decimal space-y-4 pl-8 md:pl-10">
        <li>
            <Bold>Direct Democracy:</Bold> I will allocate a <Bold
                >portion of my Council salary</Bold
            > to introduce an opt-in text (or email) polling software to keep you
            <Bold> directly connected</Bold> to things that impact you at City Hall.
            You will receive a quick summary of an issue directly from me by text.
            You will have the chance to “cast your vote” so I can gauge our District’s
            feedback on the issue. It’s not intended to be scientific, but it is intended
            to keep you <Bold>informed</Bold> and <Bold>engaged</Bold> by getting
            your quick opinion with the click of a button. Don’t worry, this isn’t
            a substitute for traditional contact methods; you’ll also be able to <a
                href="/contact"
                class="underline underline-offset-2">call or email me</a
            > if you want to connect about an issue.
        </li>

        <li>
            <Bold>Community Connections:</Bold> At least <Bold
                >once per year</Bold
            > (and more often for some), I will make myself available to meet with
            <Bold> community leaders</Bold>. As soon as my campaign launched I
            sent invitations to meet with a long list of <Bold
                >key stakeholders</Bold
            > in Sydenham District to introduce myself and hear their thoughts on
            what they need over the next four years from City Hall.

            <details
                class="group mt-4 rounded-lg border border-slate-700 bg-dropdown"
            >
                <summary
                    class="select-none flex cursor-pointer list-none items-center justify-between px-4 py-3 font-semibold text-white"
                >
                    if you want to see who I've already reached out to, click
                    here

                    <svg
                        class="h-5 w-5 shrink-0 transition-transform duration-300 group-open:rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 9l-7 7-7-7"></path>
                    </svg>
                </summary>

                <div class="border-t border-slate-700 px-4 py-4 text-white">
                    <ul class="list-disc space-y-2 pl-6">
                        <li>Kingston Health Sciences Centre</li>
                        <li>Queen's University Administrative Leadership</li>
                        <li>Providence Care</li>
                        <li>Alma Mater Society (AMS)</li>
                        <li>The Graduate Student Society (SGPS)</li>
                        <li>Queen's University Housing Office</li>
                        <li>Kingston Tennis Club - Board of Directors</li>
                        <li>Kingston Lawnbowling Club</li>
                        <li>Kingston Yacht Club</li>
                        <li>Isabel Bader Centre for the Performing Arts</li>
                        <li>Tett Centre for Creativity and Learning</li>
                        <li>Sydenham District Councillor - Conny Glenn</li>
                        <li>Portsmouth District Councillor - Don Amos</li>
                        <li>
                            Williamsville District Councillor - Vincent Cinanni
                        </li>
                        <li>King's Town District Councillor - Greg Ridge</li>
                        <li>Sydenham District Association</li>
                        <li>Frontenac Heritage Foundation</li>
                        <li>Heritage Properties Committee Members</li>
                        <li>Kingston Coalition for Active Transportation</li>
                        <li>
                            Winston Churchill PS - School Administration and
                            Parent Council
                        </li>
                        <li>
                            Sydenham PS - School Administation and Parent
                            Council
                        </li>
                        <li>Coalition of Kingston Communities</li>
                        <li>City of Kingston - Senior Staff</li>
                    </ul>
                </div>
            </details>
            If you want to be added to this list, email me <a
                href="/contact"
                class="underline underline-offset-2">here</a
            > and we’ll find a time to chat.
        </li>
    </ol>

    <ol start="3" class="list-decimal space-y-4 pl-8 md:pl-10">
        <li>
            <Bold>Committees:</Bold> Important policies and major projects need to
            be thoroughly <Bold>vetted</Bold>, <Bold>debated</Bold>, and <Bold
                >refined</Bold
            > at the committee level before they ever reach a final vote at City Council.
            City Council already has several committees and working groups established.
            I intend to push to have <Bold
                >major issues always go through the committee level first</Bold
            > to give residents and other stakeholders an opportunity to get into
            the <Bold>details</Bold>, share their <Bold>concerns</Bold>, and <Bold
                >identify issues</Bold
            > early in the process. The committees should do more work so that by
            the time an issue gets to Council for a decision, it has had plenty of
            opportunity for community feedback.
        </li>

        <li>
            <Bold>Finance and Audit Committee:</Bold> The City doesn’t currently have
            a <Bold>Finance and Audit Committee</Bold>. I see this as a <Bold
                >gap</Bold
            > in the current Council structure. I will be advocating to create this
            committee to undertake more <Bold>detailed reviews of budgets</Bold> and
            to discuss financial strategy.
        </li>
    </ol>

    <p class="text-xl font-semibold text-cool-orange">
        <u><Bold>You should vote for me if:</Bold></u>
    </p>

    <ul class="list-disc space-y-3 pl-8 md:pl-10">
        <li>
            You want an <Bold>easy</Bold>, <Bold>low-time-commitment</Bold> method
            to stay <Bold>informed</Bold> about the issues that will affect you.
        </li>

        <li>
            You agree that the best work happens when people have a chance to
            work <Bold>together</Bold> in forums like committees.
        </li>

        <li>
            You agree that the City would benefit from the establishment of a <Bold
                >Finance and Audit Committee</Bold
            >.
        </li>
    </ul>

    <p class="text-xl font-semibold text-cool-orange">
        <u
            ><Bold
                >If you’re not sure if you should vote for me, here is what you
                should ask the other candidates:</Bold
            ></u
        >
    </p>

    <ul class="list-disc space-y-3 pl-8 md:pl-10">
        <li>
            How will you <Bold>keep in touch</Bold> with me about <Bold
                >important issues</Bold
            > happening at City Hall?
        </li>

        <li>
            How will you make sure I have an opportunity to provide <Bold
                >input</Bold
            > on important issues before decisions are made?
        </li>

        <li>
            Do you support more <Bold>transparency</Bold> around the City’s financial
            position by establishing a <Bold>Finance and Audit Committee</Bold>?
        </li>
    </ul>
</div>
