---
import "../styles/global.css";
import Bold from "../components/Bold.astro";
---

<div class="space-y-4">
    <p>
        Taxes. Most politicians want to avoid talking about them. Let’s talk
        about them.
    </p>

    <p>
        Over the next five years, the City is projecting to spend <Bold
            >$940 million</Bold
        > on capital projects. This is great for residents, but that number doesn’t
        tell the whole story.
    </p>

    <p>
        The City’s <Bold>asset management plan</Bold> (the roadmap that looks at the
        City’s long-term replacement and repair of existing assets) has identified
        that capital investment needs to <Bold>increase</Bold> by about <Bold
            >$30 million per year over the next 15 years to maintain the City’s
            existing assets and infrastructure</Bold
        >.
    </p>

    <p>
        The City’s capital <Bold>reserve funds</Bold> are projected to <Bold
            >decline</Bold
        > from a balance of <Bold>$100 million</Bold> to just <Bold
            >$55 million</Bold
        > over the next <Bold>five years</Bold>.
    </p>

    <p>
        For more than 20 years, City Council has incrementally added a <Bold
            >1% capital levy</Bold
        > to your tax bill each year that is dedicated to asset replacement. This
        is an excellent policy that I support and will continue to support. The incremental
        addition of this <Bold>1%</Bold> to tax bills each year has resulted in
        <Bold> $60 million in new revenue collected annually</Bold>.
    </p>

    <p>
        Unfortunately, even that 1% hasn’t been enough to keep up with the
        City’s infrastructure needs.
    </p>

    <p>
        My position is that the current 1% capital tax levy needs to be <Bold
            >increased to a 1.5% capital tax levy</Bold
        > to generate the additional tax dollars required to ensure our assets are
        properly maintained. I believe that this increase should be phased in <Bold
            >gradually</Bold
        >, at <Bold>0.125% per year over the next four years</Bold> so the increase
        does not shock residents all at once.
    </p>

    <p>
        The additional 0.5% (existing 1% + 0.5%) would then continue until such
        time that the funds generated annually met the City’s infrastructure
        renewal requirements.
    </p>

    <p>
        I have no doubt that my position on this will not be popular with the
        community. However, this is a case of either “<Bold
            >pay me now or pay me later.</Bold
        >” The City needs this revenue <Bold
            >before infrastructure falls into disrepair</Bold
        >, and must instead be replaced at a <Bold>greater cost</Bold>. My
        preference is for a long-term plan, minimizing the cost to residents.
    </p>

    <p>
        The additional 0.5% also positions the City well to take advantage of <Bold
            >matching grant opportunities</Bold
        > from the Provincial and Federal governments that often require the City
        to provide matching funds to access grant funding. When the upper levels of
        government put a carrot in front of us, I want to be able to take it!
    </p>

    <p>
        <Bold>Nobody</Bold> likes paying additional taxes. As a student, I know that
        every dollar that stays in your pocket makes a difference. However, with the
        limited options Ontario municipalities have been given to generate revenue,
        this is the direction we <Bold>must</Bold> take to not allow our city to degrade.
    </p>

    <p class="text-xl font-semibold text-cool-orange">
        <u><Bold>You should vote for me if:</Bold></u>
    </p>

    <ul class="list-disc space-y-3 pl-8 md:pl-10">
        <li>
            You agree that the City needs to have a <Bold>responsible</Bold>, <Bold
                >balanced</Bold
            > plan to maintain our assets and infrastructure.
        </li>

        <li>
            You want to live in a City where we can be proud of <Bold
                >clean</Bold
            >, <Bold>modern</Bold> facilities.
        </li>

        <li>
            You agree that increasing the current incremental capital tax levy
            from <Bold>1%</Bold> to up to <Bold>1.5%</Bold> over a four-year period
            is a <Bold>fiscally responsible</Bold> way to keep the City’s assets in
            <Bold> good working order</Bold>.
        </li>

        <li>
            You agree that increasing the capital tax levy is important in
            ensuring that the City has matching funds available to unlock
            Federal and Provincial <Bold>grant opportunities</Bold>.
        </li>
    </ul>

    <p class="text-xl font-semibold text-cool-orange">
        <u
            ><Bold
                >If you’re not sure if you should vote for me, here is what you
                should ask the other candidates:</Bold
            ></u
        >
    </p>

    <ul class="list-disc space-y-3 pl-8 md:pl-10">
        <li>
            Do you agree with <Bold>maintaining</Bold> and/or <Bold
                >increasing</Bold
            > the City’s <Bold>1%</Bold> annual capital tax levy?
        </li>

        <li>
            How do you intend to address the City’s <Bold>need</Bold> to <Bold
                >increase</Bold
            > capital spending by <Bold>$30 million per year</Bold> over the next
            five years?
        </li>

        <li>
            How will you unlock <Bold>grant opportunities</Bold> from other levels
            of government if matching funds from the City are required?
        </li>

        <li>
            How will you address the condition of the City’s assets if they are <Bold
                >not properly maintained and repaired</Bold
            >? Are you willing to risk <Bold>closing City facilities</Bold> or <Bold
                >reducing service levels</Bold
            >?
        </li>
    </ul>
</div>
