---
import "../styles/global.css";
import Bold from "../components/Bold.astro";
---

<div class="space-y-4">
    <p>
        Let me state the obvious (or at least what is obvious to me). The
        Town-Gown relationship between the City and our many post-secondary
        institutions is already <Bold>strong</Bold>.
    </p>

    <p>
        As a born and raised Kingstonian, as well as a Queen’s student, I see
        our post-secondary institutions as an <Bold
            >important part of our community</Bold
        > that must be worked alongside.
    </p>

    <p>
        From my perspective, things are really <Bold>on the right track</Bold> in
        terms of hot-button issues like street parties, housing, and City services
        provided to students.
    </p>

    <p>
        Shared <Bold>economic development</Bold> is another example of positive collaboration,
        including the City’s recent contribution of up to <Bold>$3 million</Bold
        > to Queen’s <Bold>10,000-square-foot</Bold> Biosafety Lab in Botterell Hall.
    </p>

    <p>
        However, it will be important to <Bold>keep that momentum going</Bold> over
        the next four years and keep the needs of post-secondary institutions front
        and centre at City Hall.
    </p>

    <p>Here’s how I see that momentum continuing:</p>

    <ul>
        <li>
            <Bold>Student Housing Strategy:</Bold>
            <Bold> Accelerate</Bold> the substantial completion of the Student Housing
            Strategy (which is already underway) <Bold>prior</Bold> to the adoption
            of the City’s Official Plan in June 2027, so the strategy can inform the
            City’s Official Plan. The <Bold>original timing</Bold> of the Student
            Housing Strategy was scheduled to occur <Bold
                >after the adoption of the Official Plan</Bold
            >. The recent delay of the Official Plan to mid-2027 provides an
            opportunity for the Student Housing Strategy to <Bold
                >be completed and become an input</Bold
            > for the Official Plan.
        </li>

        <li>
            <Bold>Post-Secondary Working Group:</Bold>
            <Bold> Continue and improve</Bold> the Post-Secondary Working Group by
            <Bold> increasing the frequency of meetings</Bold> (currently about four
            times per year), <Bold>expanding the membership</Bold> to include community
            members living in Sydenham District (students and non-students), and <Bold
                >livestreaming</Bold
            > (and recording) the meetings online.
        </li>

        <li>
            <Bold>Stakeholder Meetings:</Bold> Establish <Bold
                >regular meetings</Bold
            > (two to three times per year) between myself and the <Bold
                >administrative and student leadership</Bold
            > at Queen’s University and St. Lawrence College to discuss joint opportunities
            and review any issues.
        </li>

        <li>
            <Bold>Post-Secondary Investment:</Bold> Earmark a specific <Bold
                >economic development budget allocation</Bold
            > of up to <Bold>$1 million per year</Bold> to post-secondary institutions
            that is directly tied to projects with measurable <Bold
                >environmental</Bold
            > or <Bold>economic impacts</Bold> that yield a return <Bold
                >exceeding</Bold
            > the value of the City’s budget allocation.
        </li>
    </ul>

    <p><u><Bold>You should vote for me if:</Bold></u></p>

    <ul>
        <li>
            You agree that the relationship between the City and post-secondary
            institutions is <Bold>important</Bold> and <Bold
                >on the right track</Bold
            >.
        </li>

        <li>
            You agree that it’s important to move the Student Housing Strategy
            to <Bold
                >substantial completion before the Official Plan is adopted</Bold
            > by the City.
        </li>

        <li>
            You agree that the City’s <Bold>Post-Secondary Working Group</Bold> is
            important and should meet more often, and <Bold>expand</Bold> the stakeholders
            who participate.
        </li>

        <li>
            You think it is important for the Sydenham District councillor to
            hold <Bold>regular meetings</Bold> with post-secondary student and administrative
            leadership.
        </li>
    </ul>

    <p>
        <u
            ><Bold
                >If you’re not sure if you should vote for me, here is what you
                should ask the other candidates:</Bold
            ></u
        >
    </p>

    <ul>
        <li>
            Do you commit to <Bold>completing</Bold> the Student Housing Strategy?
            Should the timeline for the Student Housing Strategy be <Bold
                >accelerated</Bold
            > to align with the City’s Official Plan?
        </li>

        <li>
            Do you think the Post-Secondary Working Group should <Bold
                >continue</Bold
            >, and how will you make it <Bold>more effective</Bold>?
        </li>

        <li>
            In what ways should the City <Bold>support</Bold> post-secondary institutions
            <Bold>financially</Bold>?
        </li>

        <li>
            How do you intend to maintain <Bold>regular communication</Bold> with
            post-secondary institutions, especially Queen’s University, since it is
            at the heart of Sydenham District?
        </li>
    </ul>
</div>
